.header{
    height: 10vh;
    display: flex;
    background-color: #001;
    padding: 0px 20px;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: hidden;
    justify-content: space-around;
    
}
 .logo {
    width: auto;
    object-fit: contain;
}
.menu, .menu_icons{
    padding-right: 20px;  
}
 .menu_link{
    text-decoration: none;
    padding: 0px 20px;
    color: #fff;
    font-size: 20px;
    transition: 0.4s;
    letter-spacing: 0.1rem;
}
 .menu_link:hover{
    color: green;
}
.show-menu, .hide-menu{
    font-size: 25px;
    transition: 0.4s;
    cursor: pointer;
    display: none;

}
.show-menu{
    float: right;
    line-height: 45px;
    font-size: 75px;

}
#chk{
    position: absolute;
    visibility: hidden;
    z-index: -9999;
}
@media screen and (max-width:800px){
    .show-menu, .hide-menu{
        display: block;
         
    }
    
    .menu, .menu_icons{
        position: absolute;
        top: 0;
        right: -100%;
        width: 100%;
        height: 87vh;
        background: #001;
        z-index: 2;
        text-align: center;
        padding: 80px 0px;
        transition: 0.7s;
        margin: 0%;
        opacity: 1;
        overflow: hidden;
        display: none;
        
    }
     .menu_link{
        display: block;
        padding: 30px;
    }
    .hide-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #chk:checked ~ .menu{
        display: block;
        right: 0;

    }
}