.work {
   
    display: flex;

}
.project {
    flex: 1;
    padding: 10px;
    margin:0 10px;
    background-color: aqua;
}

.amazon__home{
    width: 100%;
    object-fit: contain;
}
.work a{
    text-decoration: none;
}